.pyirc
errorhub.egg-info/requires.txt
errorhub.egg-info/SOURCES.txt
errorhub.egg-info/top_level.txt
errorhub.egg-info/PKG-INFO
errorhub.egg-info/dependency_links.txt
dist/errorhub-0.1.0.tar.gz
dist/errorhub-0.1.0-py3-none-any.whl
